{
  "overrides": [
    {
      "files": "*.gs",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
